@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

*::-webkit-scrollbar {
  width: 0.3rem;
  padding: 1rem 0;
  background: #aaaa;
  border-radius: 2rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 2rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.form-div {
  flex: 1;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  background-color: #4449;
}

.form-input {
  flex: 1;
  padding: 0.7rem 1rem;
  text-align: right;
  border-radius: 1rem;
  background-color: #4449;
}

.list-buttn {
  padding: 0.5rem 1rem;
  background-color: white;
  font-weight: 500;
  color: black;
  text-align: center;
  border-radius: 1rem;
}